* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }

/* Header for Dashboard */
.header {
    background-image: linear-gradient(to right, #3462BB , #20084B);
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-weight: bolder;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* City Search Container */
.city-search {
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 2px solid black;
    grid-column: 1;
}

.city-search h2 {
    margin: 0;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bolder;
}

.form-control {
    margin-top: 15px;
    border: 1px solid black;
    height: 45px;
}

/* search button */
#search-button {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #5098E6;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 40px;
}

#search-button:hover {
    opacity: 60%;
}

.searched-weather {
    grid-column: 2;
    border: 1px solid black;
    margin: 20px;
}