/*top title area*/
nav {
    background-image: linear-gradient(to right, #3462BB , #20084B);
    color: white;
    margin-top: 0;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

/*body font style*/
body {
    font-family: 'Noto Sans SC', sans-serif;
}

/*side navigation properties*/
.sidenav {
    background-color: rgb(240, 240, 240);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    margin-top: 66px;
}

/*header 2*/
h2 {
    padding-top: 10px;
    font-size: larger;
    text-align: center;
}

/*input properties*/
#city {
    margin-left: 10px;
}

#recentSearches li:hover {
    background-color: #3A56B3;
    opacity: 70%;
    color: white;
}

/*button properties*/
#cityBtn {
    margin-right: 10px;
    background-color: #3A56B3;
}

#cityBtn:hover {
    opacity: 75%;
}

/*recent searches properties*/
#recent {
    width: 12.75rem;
    margin-left: 10px;
}

/*top forecast*/
#cityInfo {
    margin-top: 100px;
    margin-left: 255px;
    margin-right: 55px;
    padding: 20px;

}

/*5-day forecast container*/
#forecast {
    margin-top: 50px;
    margin-left: 255px;
    margin-right: 50px;

}

/*weather card properties*/
#weather-4, #weather-12, #weather-20, #weather-28, #weather-36 {
    padding-top: 15px;
    width: 180px;
    height: 200px;
    margin: 5px;
    color: white;
}

/*city name properties*/
#cityName {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
}

/*added margin for spacing between text*/
#currentTemp, #humidity, #windSpeed, #UVIndex {
    margin-bottom: 20px;
} 

/*h7 properties*/
#h7 {
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
}